<div id="electron-titlebar" class="inset" style="z-index: 1; ">
  <div class="drag" id="drag-left"></div>
  <div class="drag" id="drag-right"></div>
</div>
<!--<div id="main" class="write-mode write-mode-wide notransition">-->
<div id="markdown_main" class="notransition">
  <div id="side-menu-cover"></div>
  <div id="file-tree-cover"></div>

  <div id="editor-container">

    <div id="left-panel">
      <div id="editor">
        <textarea></textarea>
      </div>
      <!--<div class="cover-top"></div>-->
    </div>

    <div id="right-panel">
      <div id="pre-container-wrapper" tabindex="-1">
        <div id="pre-container" class="preview"></div>
      </div>
      <!--<div class="cover-top"></div>-->
    </div>

  </div>
</div>

<div id="cover-bottom">
  <div id="cover-bottom-background-left"></div>
  <div id="cover-bottom-background-right"></div>

  <div id="cover-bottom-left">
    <div class="button-bottom l10n-title" id="button-bottom-menu" title="Menu">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>
  <div id="cover-bottom-right">
    <div class="button-bottom l10n-title" id="button-bottom-focus" title="Toggle focus mode">
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
    </div>
    <div class="button-bottom l10n-title" id="button-bottom-mode" title="Edit mode">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </div>
  </div>
</div>
